.container{
    display: flex;
    background-color: #483EFF;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    border-radius: 21px;
    height: 60vh;
    margin-bottom: 10vh;
    font-family: 'DM Sans', sans-serif;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.left-container button{
    padding: 15px 35px;
    background-color: transparent;
    border-color: white;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    border-style: solid;
    
}

.left-container button:first-of-type{
   background: #BCE0F6;
   color: black;
   box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39);
}


.right-container{
    box-sizing: border-box;
    width: 70%;
    height: 90%;
    background-color: white;
    margin: 2% 0 2% 0;
    border-radius: 20px;
    padding: 20px 30px;
    position: relative;
}

.info-heading{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.105em;
    color: #04285A;
}

.info{
    margin-left: 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.105em;
    color: #04285A;
}

.info span{
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.105em;
    color: #04285A;
}

.next-button{
    background-color: black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.next-button img{
    width: 20px;
    margin-left: 7px;
}
.card-container{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-family: 'DM Sans', sans-serif;

}


.card{
    width: 21%;
    padding:10px 15px;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.card-1{
    background: #929DFF;
}
.card-2{
    background: #734CF2;
}
.card-3{
    background: #D288FF;
}
.card-4{
    background: #000000;
}
.help{
    background-color: white;
    border-radius: 100%;
    position: fixed;
    right: 60px;
    bottom: 20px;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    padding: 7px;
    width: 50px;
    height: 50px;

}

.help img{
    width: 50px;
    height: 50px;
}
.navbar{
    display: flex;
    background-color: #6F6AF7;
    margin: auto;
    color: white;
    font-weight: 400;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    position:fixed;
    top: 0px;
    width: 100vw;
}

.navlogo{
    font-family: 'Delius Unicase', cursive;
    font-size: 32px;
}


.nav-hamburger img{
    height: 25px;
}

.navicons ul{
    display: flex;
    list-style: none;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.navicons ul li{
    margin-right: 15px;
}

.navicons ul li select{
    border: none;
    background-color: transparent;
    color: white;
}

.navicons ul li input{
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
}

.navicons ul li:last-of-type{
    position: relative;
}

.navicons ul li img{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 16px;

}
.con1{
    display: flex;   
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.con1-ban1 img{
    height: 50vh;

}

.con1-ban2{
    background-color: #E5D8FF;
    padding: 30px ;
    border-radius: 20px;
    height: 45vh;
    width: 75%;
    box-sizing: border-box;
}

.con1-ban2 p{
    font-weight: 400;
    font-size: 24px;
    color: #6F7373;
    font-family: 'DM Sans', sans-serif;
}
.socialicons{
    position: sticky;
    top: 80px;
    margin-top:25vh;
    float: right;

}

.socialicons img{
    height: 40px;
    display: block;
    width: fit-content;
}

body{
    margin: 0;
}